<article class="archive-article archive-type-post">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <a href="{{ .Permalink }}" itemprop="url">
            {{ $banner := .Params.banner }}
            {{ $bannerWebP := replaceRE `\.(jpg|jpeg|png)$` ".webp" $banner }}
            <picture>
                <source srcset="{{ $bannerWebP | absURL }}" type="image/webp">
                <img src="{{ $banner | absURL }}" class="article-banner" loading="lazy">
            </picture>
        </a>
        {{ end }}

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            <p>
                {{ .Summary | default .Description }}
            </p>
            <p class="article-more-link">
                <a href="{{ .Permalink }}">
                    {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                </a>
            </p>
        </div>
        {{ partial "article_footer" . }}
    </div>
</article>
