<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            {{ with .Resources.GetMatch .Params.banner }}
                {{ $webp := .Process "webp q80" }}
                <picture>
                    <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                    <img src="{{ .RelPermalink }}" class="article-banner" loading="lazy" alt="{{ $.Title }}">
                </picture>
            {{ else }}
                {{ $banner := $.Params.banner | strings.TrimPrefix "/" }}
                <img src="{{ $banner | absURL }}" class="article-banner" loading="lazy" alt="{{ $.Title }}">
            {{ end }}
        {{ end }}

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>
        {{ partial "article_footer" . }}
    </div>

    {{ partial "prev_next_post" . }}
</article>

{{ if and (not (eq .Site.Config.Services.Disqus.Shortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ template "_internal/disqus.html" . }}
    </div>
</section>
{{ end }}